target/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.classpath
.project
.settings/
*.iml
*.log
**.class
**.user.css
./src/**.css
./src/**.{js,mjs,cjs}
**/node_modules
**/package-lock.json
**/*.env
!**/*.example
**/megalinter-reports
**/.history
**/build
**.code-profile
**.venv
**/__pypackages__
**/.pdm-build
