[settings]
windows_shim_mode = "symlink"
asdf_compat = true
yes = true
experimental = true
auto_install = true
exec_auto_install = true
not_found_auto_install = true
task_run_auto_install = true
lockfile = true

[settings.npm]
bun = true

[settings.status]
missing_tools = "always"

[env]
_.file = '.env'

[hooks]
postinstall =  '''
    bun run scripts/gradle.bun.ts build -x test
'''

[tasks.test-gradle]
run = '''
    bun run scripts/gradle.bun.ts test
'''

[tasks.test-bruno]
run = '''
    cd .vscode/bruno-collections && bun i --no-save && bun run test-bruno.bun.ts
'''

[tasks.start]
run = "bun run scripts/start.bun.ts"
