[settings]
windows_shim_mode = "symlink"
yes = true
experimental = true
auto_install = true
exec_auto_install = true
not_found_auto_install = true
task_run_auto_install = true
lockfile = true
all_compile = false

[settings.npm]
bun = true

[settings.status]
missing_tools = "always"

[hooks]
postinstall =  '''
    mise build
'''

[tasks.test-gradle]
run = '''
    gradle test
'''

[tasks.test-bruno]
run = '''
    cd bruno && mise run test-bruno
'''

[tasks.test]
run = '''
    mise x bun -- bun run scripts/test.bun.ts
'''

[tasks.build]
run = '''
    gradle build
'''

[tasks.start]
run = '''
    mise x bun -- bun run scripts/start.bun.ts
'''

[tasks.stop]
run = '''
    mise x bun -- bun run scripts/stop.bun.ts
'''

[tasks.lint]
run = ""

[tasks.format]
run = ""

[tasks.install]
run = '''
    mise install
'''
