[settings]
windows_shim_mode = "symlink"
asdf_compat = true
yes = true
experimental = true
auto_install = true
exec_auto_install = true
not_found_auto_install = true
task_run_auto_install = true
lockfile = true

[settings.npm]
bun = true

[settings.status]
missing_tools = "always"

[env]
_.file = '.env'

[hooks]
postinstall =  '''
    mise build
'''

[tasks.test-gradle]
run = '''
    gradle test
'''

[tasks.test-bruno]
run = '''
    cd .vscode/bruno-collections && bun i --no-save && bun run test-bruno.bun.ts
'''

[tasks.test]
run = '''
    mise run test-gradle && mise run test-bruno
'''

[tasks.build]
run = '''
    gradle build
'''

[tasks.start]
run = '''
    mise build bootJar && java -jar build/libs/spring-boot-app-1.0.0.jar
'''
