[settings]
windows_shim_mode = "symlink"
asdf_compat = true
yes = true
experimental = true
auto_install = true
exec_auto_install = true
not_found_auto_install = true
task_run_auto_install = true
lockfile = true

[settings.npm]
bun = true

[settings.status]
missing_tools = "always"

[hooks]
postinstall =  '''
    mvn clean install -DskipTests
'''

[tasks.test]
run = '''
    mise run test-maven
'''

[tasks.test-maven]
run = '''
    mvn test
'''

[tasks.start]
run = "mvn spring-boot:run"
